/**
 * 모달 스타일
 * 모달 창, 프리뷰 캔버스
 */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 600px;
  max-width: 90%;
  max-height: 90vh;
  overflow: auto;
  display: none; /* 초기 상태를 none으로 설정 */
}

#preview-canvas {
  width: 100% !important;
  height: 200px !important; /* 고정된 높이 */
  max-width: 100%;
  display: block;
}
